<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    
    
    <div class="container">
      <h1>Password</Form></h1>
    <form action="/manager" method="POST">
      <div class="row my-5">
        <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Application Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Application Name" name="app_name">
        </div>
        <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" name="app_username">
        </div>
        <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Passowrd</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Password" name="app_password">
        </div>
        <button class="btn btn-smsll btn-success" value="password" name="password">submit</button>
      </div>
      <h2>
        <% if (msg !=''){ %>
          <%= msg %>
        <%}%>
      </h2>
    </form>



    <table width="100%" class="table-striped text-center">
      <thead>
        <tr>
          <th>Application Name</th>
          <th>Username</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <% if(alldata.length>0){
          alldata.forEach(function(row){%>

        

        <tr>
          <td><%= row.appname%></td>
          <td><%= row.appusername%></td>
          <td><%= row.apppassword%></td>
          <td><a href="/manager/delete/<%= row.id %>"><i class="fa fa-trash danger"></i></a></td>
        </tr>
    <%  })
    }
      %>
      </tbody>
    </table>
  </div>
  <script src="" async defer></script>
  </body>
</html>
